# Daten anzeigen und abrufen
In einer Tabelle ist es häufig wichtig spezifische Daten zu suchen und aus einer grösseren Tabelle einzelne Daten anzuzeigen.
In diesem Kapitel werden Sie lernen, individuelle Zeile einer Tabelle anzuzeigen, einzelne Datenwerte einer Zeile anzuzeigen und zu evaluieren, welche Anzeige sinnvoll ist, für die Daten, welche Sie gerade bearbeiten.

## Daten anzeigen

Bevor man spezifische Daten einer Tabelle anzeigt, ist es wichtig, sich im Klaren zu sein, was auf welche Weise gezeigt werden soll. Zuerst muss entschieden werden, in welcher Zeile und welcher Spalte sich die Daten befinden. (Zur Erinnerung: Zeilen sind horizontal, Spalten sind vertikal) <br>
Durch bestimmte Befehle, können aus einem Datenset bestimmte Informationen abgerufen werden. Danach geht es darum, welche Anzeigeform am passendsten ist.

### Die richtige Zeile(n) auswählen

Die meisten Datensets sind so konzipiert, dass innerhalb einer Zeile alle Daten zusammengehören. In unserem Tierdatensatz ist es so, dass jede Zeile einem bestimmten Tier entspricht.

Wenn es darum geht, Daten auszuwählen, muss in diesem Fall also zuerst entschieden werden, von welchem Tier oder welchen Tieren die Daten angezeigt werden sollen. Falls die Daten aller Tiere angezeigt werden sollen, müssen auch alle Zeile ausgewählt werden.

### Die richtige Spalte(n) auswählen

In vielen Tabellen wird in jeder Spalte ein unterschiedliches Attribut/Merkmal angezeigt. So gibt es in unserem Tierdatensatz pro Tier neben dem Namen noch 7 weitere Attribute (Spezies, Geschlecht, Alter, ob das Tier sterilisiert ist, Anzahl Beine, Gewicht und Zeit bis zur Adoption)

Falls nur eines dieser Attribute angezeigt werden soll, muss auch die entsprechende Spalte ausgewählt werden.

### Die richtige Anzeigeform auswählen
Die ausgewählten Daten können auf unterschiedliche Arten angezeigt werden. Eine einfache Möglichkeit ist es, die ausgewählte Daten als Tabelle darzustellen. 
<br>
Häufig ist es hilfreich, die Daten als eine Grafik darzustellen um sich diese dank der Visualisierung besser vorstellen zu können.
<br>
Unterschiedliche Grafiken sind für unterschiedliche Datenformen geeignet. So ist zum Beispiel ein Scatter Plot ideal um Inhalte zweier verschiedener Spalten zu vergleichen und ihre Abhängigkeit aufzuzeigen. Andere Grafiken wie Tortendiagramme, Histogramme oder Balkendiagramme beziehen sich grundsätzlich nur auf eine Spalte.
<br>
Während einige Grafiken für quantitative Daten geeignet sind, werden andere für kategorielle Daten ausgewählt.
<br>
Um kategorielle Daten einer Spalte anzuzeigen werden häufig entweder Kuchendiagramme oder Balkendiagramme gewählt. Im letzten Kapitel haben Sie die beiden Grafiken vergleichen und entschieden, welche jeweils für  bestimmte Daten geeigneter ist.

## Daten abrufen
Tabellen können zum Teil sehr viele Daten enthalten. Daher ist es praktisch, mit einem Befehl spezifische Daten abzurufen.

Manchmal gibt es Datenwerte, welche immer wieder benutzt werden. Dann macht es Sinn, diesen einen Namen zu geben. Dies geschieht, indem man sie definitert. Jede Definition beinhaltet einen Namen und einen Wert, welcher diesem Namen zugeordnet wird. Im untenstehenden Code werden zwei verschiedenen Namen (Alter, Geschlecht) zwei Werte zugeordnet.

### Variablen definieren

In [27]:
geschlecht = "weiblich"
alter = 16

Wenn die Variablen Geschlecht und Alter aufgerufen werden, wird jeweils der Wert angezeigt, welcher zuvor für diese Variable definiert wurde. Dafür müssen sie nun zuerst den obenstehenden Code laufen lassen. Danach sollen Sie im folgenden Textfeld sollen Sie eine der beiden Variablen eingeben, als Ausgabe kommt der vorhin zugeordnete Wert.

In [28]:
#Geben sie hier entweder geschlecht oder alter ein und lassen Sie das Programm laufen

Erstellen sie eine neue Variable und ordnen sie ihr einen Wert zu. und rufen sie sie danach im darunterliegenden Codefeld auf

In [29]:
#Definieren sie hier eine Variable mit zugehörigem Wert

In [30]:
#Geben sie hier den Namen ihrer erstellten Variable ein


## Tabellenfunktionen

Tabellen haben sogenannte Methoden, das sind bestimmte Funktionen, welche ihnen zugeordnet sind und es erlauben, verschiedene Aufgaben durchzuführen.

So kann zum Beispiel eine Zeile der Tabelle mit dem Befehl *tabellenname.loc["Name"]* abgerufen werden. D

Führen sie den Code unten aus um von unserem Tierdatensatz die Zeile des Tieres Namens "Bo" aufzurufen. Sie müssen hierzu zuerst noch den richtigen Befehl eingeben.

In [31]:
import pandas as pd 
datei_name = "animal_dataset_bc.csv"
animal_table = pd.read_csv(datei_name,
                        header=0,
                        names=["Name", "Spezies", "Geschlecht", "Alter", "Steril", "Beine", "Gewicht", "Wochen"], 
                        index_col=0)

#Hier den Befehl einfügen. Der Tabellenname lautet animal_table

Spezies           Katze
Geschlecht    maennlich
Alter               1.0
Steril            False
Beine                 4
Gewicht             3.2
Wochen                1
Name: Wade, dtype: object

Diese Zeile kann auch direkt einer Variable zugeordnet werden. 

So kann man zum Beispiel die Zeile welche der Katze "Mittens" entspricht, direkt der Variable Mittens zuordnen:
Mittens = animal_table.loc["Mittens"]

Zudem ist es möglich, aus einer Zeile direkt einen spezifischen Wert zu lesen. Dies geschieht indem der Titel der gesuchten Spalte am Ende des Aufrufbefehles durch einen Punkt angehängt wird.
*animal_table.loc["Bo"].Alter* gibt also das Alter an, welches aus der Zeile von Bo gelesen wird.

In [ ]:
#Hier den Code eingeben um das Geschlecht von Mittens abzufragen

Der folgende


The code below will define the first row from the animals table:

sasha    = animals-table.row-n(0)
Pyret also has a way for us to get at individual columns of a Row, by using a Row Accessor. Row accessors start with a Row value, followed by square brackets and the name of the column where the value can be found. Here are three examples that use row accessors to get at different columns from the first row in the animals-table:

animals-table.row-n(0)["name"]
animals-table.row-n(0)["age"]
animals-table.row-n(0)["fixed"]
And of course, we can use our defined name, substituting it in place of all the redundant code:

sasha["name"]
sasha["age"]
sasha["fixed"]
How would you get the weeks column out of the second row? The third?

Complete the exercises on Lookup Questions (Page 25).

Flip back to page 2 of your workbook and look at The Animals Dataset. Which row is animalA? Label it in the margin next to the dataset. Which row is animalB? Label it in the margin next to the dataset.

Now turn back to your screen. What happens when you evaluate animalA in the Interactions Area?

Define at least two additional values to be animals from the animals-table, called animalC and animalD.