# Daten anzeigen und abrufen
In einer Tabelle ist es häufig wichtig spezifische Daten zu suchen und aus einer grösseren Tabelle einzelne Daten anzuzeigen.
In diesem Kapitel werden Sie lernen, individuelle Zeile einer Tabelle anzuzeigen, einzelne Datenwerte einer Zeile anzuzeigen und zu evaluieren, welche Anzeige sinnvoll ist, für die Daten, welche Sie gerade bearbeiten.

## Daten anzeigen

Bevor man spezifische Daten einer Tabelle anzeigt, ist es wichtig, sich im Klaren zu sein, was auf welche Weise gezeigt werden soll. Zuerst muss entschieden werden, in welcher Zeile und welcher Spalte sich die Daten befinden. (Zur Erinnerung: Zeilen sind horizontal, Spalten sind vertikal) <br>
Durch bestimmte Befehle, können aus einem Datenset bestimmte Informationen abgerufen werden. Danach geht es darum, welche Anzeigeform am passendsten ist.

### Die richtige Zeile(n) auswählen

Die meisten Datensets sind so konzipiert, dass innerhalb einer Zeile alle Daten zusammengehören. In unserem Tierdatensatz ist es so, dass jede Zeile einem bestimmten Tier entspricht.

Wenn es darum geht, Daten auszuwählen, muss in diesem Fall also zuerst entschieden werden, von welchem Tier oder welchen Tieren die Daten angezeigt werden sollen. Falls die Daten aller Tiere angezeigt werden sollen, müssen auch alle Zeile ausgewählt werden.

### Die richtige Spalte(n) auswählen

In vielen Tabellen wird in jeder Spalte ein unterschiedliches Attribut/Merkmal angezeigt. So gibt es in unserem Tierdatensatz pro Tier neben dem Namen noch 7 weitere Attribute (Spezies, Geschlecht, Alter, ob das Tier sterilisiert ist, Anzahl Beine, Gewicht und Zeit bis zur Adoption)

Falls nur eines dieser Attribute angezeigt werden soll, muss auch die entsprechende Spalte ausgewählt werden.

### Die richtige Anzeigeform auswählen
Die ausgewählten Daten können auf unterschiedliche Arten angezeigt werden. Eine einfache Möglichkeit ist es, die ausgewählte Daten als Tabelle darzustellen. 
<br>
Häufig ist es hilfreich, die Daten als eine Grafik darzustellen um sich diese dank der Visualisierung besser vorstellen zu können.
<br>
Unterschiedliche Grafiken sind für unterschiedliche Datenformen geeignet. So ist zum Beispiel ein Scatter Plot ideal um Inhalte zweier verschiedener Spalten zu vergleichen und ihre Abhängigkeit aufzuzeigen. Andere Grafiken wie Tortendiagramme, Histogramme oder Balkendiagramme beziehen sich grundsätzlich nur auf eine Spalte.
<br>
Während einige Grafiken für quantitative Daten geeignet sind, werden andere für kategorielle Daten ausgewählt.
<br>
Um kategorielle Daten einer Spalte anzuzeigen werden häufig entweder Kuchendiagramme oder Balkendiagramme gewählt. Im letzten Kapitel haben Sie die beiden Grafiken vergleichen und entschieden, welche jeweils für  bestimmte Daten geeigneter ist.

## Daten abrufen
Tabellen können zum Teil sehr viele Daten enthalten. Daher ist es praktisch, mit einem Befehl spezifische Daten abzurufen.

Manchmal gibt es Datenwerte, welche immer wieder benutzt werden. Dann macht es Sinn, diesen einen Namen zu geben. Dies geschieht, indem man sie definitert. Jede Definition beinhaltet einen Namen und einen Wert, welcher diesem Namen zugeordnet wird. Im untenstehenden Code werden zwei verschiedenen Namen (Alter, Geschlecht) zwei Werte zugeordnet.

### Variablen definieren

In [63]:
geschlecht = "weiblich"
alter = 16

Wenn die Variablen Geschlecht und Alter aufgerufen werden, wird jeweils der Wert angezeigt, welcher zuvor für diese Variable definiert wurde. Dafür müssen sie nun zuerst den obenstehenden Code laufen lassen. Danach sollen Sie im folgenden Textfeld sollen Sie eine der beiden Variablen eingeben, als Ausgabe kommt der vorhin zugeordnete Wert.

In [ ]:
alter

Erstellen sie eine neue Variable und ordnen sie ihr einen Wert zu. und rufen sie sie danach im darunterliegenden Codefeld auf

In [65]:
#Definieren sie hier eine Variable mit zugehörigem Wert

In [66]:
#Geben sie hier den Namen ihrer erstellten Variable ein


## Tabellenfunktionen

Tabellen haben sogenannte Methoden, das sind bestimmte Funktionen, welche ihnen zugeordnet sind und es erlauben, verschiedene Aufgaben durchzuführen.

So kann zum Beispiel eine Zeile der Tabelle mit dem Befehl *tabellenname.loc["Name"]* abgerufen werden. D

Führen sie den Code unten aus um von unserem Tierdatensatz die Zeile des Tieres Namens "Bo" aufzurufen. Sie müssen hierzu zuerst noch den richtigen Befehl eingeben. Dafür müssen sie tabellenname mit dem Namen der Tabelle ersetzen und in die Eckige Klammer (in Anführungszeichen) den Namen des Tieres setzen.

In [67]:
import pandas as pd 
datei_name = "animal_dataset_bc.csv"
animal_table = pd.read_csv(datei_name,
                        header=0,
                        names=["Name", "Spezies", "Geschlecht", "Alter", "Steril", "Beine", "Gewicht", "Wochen"], 
                        index_col=0)

#Hier den Befehl einfügen. Der Tabellenname lautet animal_table

Es ist möglich, aus einer Zeile direkt einen spezifischen Wert zu lesen. Dies geschieht indem der Titel der gesuchten Spalte am Ende des Aufrufbefehles durch einen Punkt angehängt wird.
*animal_table.loc["Bo"].Alter* gibt also das Alter an, welches aus der Zeile von Bo gelesen wird.

In [68]:
#Hier den Code eingeben um das Geschlecht von Mittens abzufragen

Falls aus einer Zeile mehrfach eine Attribut abgerufen werden soll, kann es hilfreich sein, dieser Zeile direkt eine Variable zuzuordnen. 

So kann man zum Beispiel die Zeile welche der Katze "Mittens" entspricht, direkt der Variable Mittens zuordnen:

In [69]:
Mittens = animal_table.loc["Mittens"]

Wenn der obenstehende Code ausgeführt wurde, kann man danach eine Abfrage vereinfacht durchführen indem der Name der Spalte nach einem Punkt an die gegebene Variable angehängt wird.

In [ ]:
# Führen Sie diesen Code aus, nachdem sie oben die Variable "Mittens" definiert haben indem sie den obenstehenden Code ausgeführt haben.
Mittens.Alter

Analog zum Alter können auch andere Attribute so abgefragt werden.
Mittens.Geschlecht zeigt das Geschlecht von Mittens an.
Mittens.Gewicht zeigt das Gewicht von Mittens an.

Versuchen sie nun, die Spezies des Tieres "Wade" herauszufinden und ob das Tier sterilisiert ist indem sie zuerst die Variable Wade definieren und danach die beiden Attribute abfragen.

In [71]:
#Definieren Sie hier die Variable Wade als die Zeile in welcher die Informationen von Wade stehen und führen sie das Programm aus

In [72]:
#Rufen Sie hier die Spezies von Wade ab

In [73]:
#Rufen Sie hier ab ob Wade sterilisiert ist

Im Folgenden sehen Sie eine Tabelle mit den Namen aller registrierten Hunde des Kantons Zürich mit Stand 2018.
Die ersten Zeilen der Tabelle sehen folgendermassen aus:

In [ ]:
#Führen sie den Code aus um die ersten zehn Zeilen der Tabelle anzuzeigen
import pandas as pd 
datei_name = "hundenamen.csv"
hundenamen = pd.read_csv(datei_name,
                        header=0,
                        names=["Name", "Geburtsjahr", "Geschlecht"], 
                        index_col=0)

hundenamen.head(10)

Im Gegensatz zum Tierdatensatz "animal_table" gibt es bei der Hundenamen-Tabelle mehrere Einträge, welche den selben Namen haben. Als Beispiel sollen sie alle Hunde namens Caruso aufrufen, mit Hilfe des untenstehenden Codes:

In [ ]:
hundenamen.loc["Caruso"]

Es ist nun ebenfalls möglich, ein spezifisches Attribut abzufragen, falls nicht die ganze Tabelle angezeigt werden soll. Um das Geschlecht aller Hunde namens Chipsy zu bestimmen, kann der untenstehende Code verwendet werden:

In [ ]:
hundenamen.loc["Chipsy"].Geschlecht


Sie sollen nun die folgenden Informationen über gewisse Hunde abfragen:

Welches Geburtsjahr hat Abraxas?
In welchen Jahren ist ein Hund namens Happy geboren?
Welches Geschlecht hat Antares?
Gibt es mehr männliche oder weibliche Idefix?

In [ ]:
#Geben Sie hier den Code ein um das Geburtsjahr von Abraxas abzurufen

In [88]:
#Loesung
hundenamen.loc["Abraxas"].Geburtsjahr

2004

In [76]:
#Geben Sie hier den Code ein um die Geburtsjahre aller Hunde namens Happy aufzurufen

In [ ]:
#Loesung
hundenamen.loc["Happy"].Geburtsjahr

In [77]:
#Geben Sie hier den Code ein um das Geschlecht von Antares abzurufen

In [89]:
#Loesung
hundenamen.loc["Antares"].Geschlecht

'm'

In [97]:
#Geben Sie hier den Code ein um das Geschlecht von allen Idefix abzurufen

In [ ]:
#Loesung
hundenamen.loc["Idefix"].Geschlecht

Antwort: #Geben sie hier ein, wie viele männliche und weibliche Idefix es gibt

## Abschlussquiz

Für das Abschlussquiz führen Sie bitten den folgenden Code aus.

In [ ]:
from fragen import *

fragen3()