# Tabellenmethoden

## Lernziele

Die Schüler:innen können
* den Tierdatensatz nach verschiedenen Kriterien ordnen.
* den Tierdatensatz nach verschiedenen Kriterien filtern.
* eine Spalte zum Datensatz hinzufügen.

## Einführung in Funktionsdefinitionen

**Einzelarbeit:** Als erstes wird wieder der Tierdatensatz geladen.

In [1]:
import pandas as pd # Importiert das Modul pandas unter dem Namen pd
datei_name = "animal_dataset_bc.csv" # Name der Datei
animal_table = pd.read_csv(datei_name, 
                        header=0, # Gibt an, dass die Spaltennamen in der 0. Zeile sind (in der Informatik wir mit 0 zu zählen begonnen)
                        names=["Name", "Spezies", "Geschlecht", "Alter", "Steril", "Beine", "Gewicht", "Wochen"], # Spaltennamen werden gesetzt 
                        index_col=0) # Die 0. Spalte wird für die Labels benutzt

animal_table.head() #Zeigt die ersten 5 Zeilen der Tabelle an

          Spezies Geschlecht  Alter  Steril  Beine  Gewicht  Wochen
Name
Sasha       Katze   weiblich    1.0   False      4      6.5       3
Snuffles     Hase   weiblich    3.0    True      4      3.5       8
Mittens     Katze   weiblich    2.0    True      4      7.4       1
Sunflower   Katze   weiblich    5.0    True      4      8.1       6
Felix       Katze  maennlich   16.0    True      4      9.2       5

Nun soll ein Programm mit einigen neuen Befehlen betrachtet werden. Betrachten Sie auch die Ausgabe.

In [ ]:
def is_female(animal):
    return animal.Geschlecht == "weiblich"
    
animal1 = animal_table.iloc[0] 

print(animal1) #Gibt Angaben zu animal1 aus
print("Rückgabe von is_female(animal1):")
print(is_female(animal1)) #Gibt die Rückgabe der Funktion is_female aus

*Hinweise:*
* Mit == wird getestest, ob die linke und die rechte Seite gleich sind. <br>
2 == 3 ist False (falsch), 4 == 4 ist True (wahr).
* Mit != wird getestet, ob die linke und die rechte Seite ungleich sind. <br>
2 != 3 ist True (wahr), 4 != 4 ist False (falsch).
* Mit > wird getestet, ob die linke Seite grösser ist als die rechte Seite. <br>
3 > 2 ist True (wahr), 4 > 4 ist False (falsch).
* Mit >= wird getestet, ob die linke Seite grösser oder gleich ist wie die rechte Seite. <br>
3 >= 2 ist True (wahr), 4 >= 4 ist auch True (wahr).

Das obige Programm enthält einige Elemente, die Sie noch nicht kennen.

1. Was macht wohl die Zeile animal1 = animal_table.iloc[0]?

#Hier kommt Ihre Antwort hin.

2. Was macht animal_test = animal.table.iloc[3]?

#Hier kommt Ihre Antwort hin.

3. Wie können Sie das 5. Tier der Tabelle (Felix) mit Hilfe von iloc anzeigen lassen?

In [8]:
# Hier kommt Ihr Code hin.

4. Wie können Sie das $n$. Tier der Tabelle mit Hilfe von iloc anzeigen lassen? (Dabei ist $n$ eine sinnvolle natürliche Zahl.)

#Hier kommt Ihre Antwort hin.

5. Können Sie erkären, was die Funktion is_female macht?

#Hier kommt Ihre Antwort hin.

6. Finden Sie ein Tier bei dem is_female False (also falsch) zurückgibt?

#Hier kommt Ihre Antwort hin.

In [ ]:
# Hier kommt Ihr Code hin.

7. Schreiben Sie eine Funktion is_male, welche True zurückgibt, wenn ein Tier männlich ist und False, falls es nicht männlich ist. Testen Sie Ihre Funktion.

In [147]:
# Hier kommt Ihr Code hin.

8. Schreiben Sie eine Funktion is_old, welche True zurückgibt, wenn ein Tier mindestens 5 Jahre alt ist und sonst False. Testen Sie Ihre Funktion zudem mit 1-2 Beispielen.

In [149]:
# Hier kommt Ihr Code hin.

**Einzelarbeit:** Gegeben ist das folgende Programm. Beachten Sie, dass die Spalte "Gewicht" in Pfund ist.

In [151]:
def is_dog(animal):
    return animal.Spezies == "Hund"

def kilos(animal):
    return animal.Gewicht/2.2

animal1 = animal_table.iloc[12]

In [ ]:
is_dog(animal1)

In [ ]:
kilos(animal1)

1. Was macht die Funktion is_dog?

#Hier kommt Ihre Antwort hin.

2. Was macht die Funktion kilos?

#Hier kommt Ihre Antwort hin.

3. Schreiben Sie eine Funktion months, welche das Alter eines Tieres in Monaten zurückgibt. Beachten Sie, dass die Spalte "Alter" in Jahren ist.

In [154]:
# Hier kommt Ihr Code hin.

## Tabellen ordnen

**Einzelarbeit:**

1. Was macht das folgende Programm?

#Hier kommt Ihre Antwort hin.

In [ ]:
animal_table = animal_table.sort_values("Gewicht",ascending=True)
animal_table.head(10) #Zeigt die ersten 10 Zeilen der Tabelle an.

2. Was macht das folgende Programm?

#Hier kommt Ihre Antwort hin.

In [ ]:
animal_table = animal_table.sort_values("Beine",ascending=False)
animal_table.head(10)

3. Was passiert, wenn ascending = True ist? Was, wenn ascending = False ist?

#Hier kommt Ihre Antwort hin.

4. Sortieren Sie die Tabelle animal_table nach Alter (von jung nach alt).

In [158]:
# Hier kommt Ihr Code hin.

5. Welches ist das älteste Tier?

#Hier kommt Ihre Antwort hin.

In [9]:
# Hier kommt Ihr Code zur Erzeugung Ihrer Lösung hin.

## Daten filtern

**Einzelarbeit:**

1. Was macht das folgende Programm?

#Hier kommt Ihre Antwort hin.

*Speichert unter old_animal eine Tabelle mit allen Tieren, welche mindestens 5 Jahre alt sind.*

*Danach wird die Grösse der Tabelle mit len bestimmt (hier: 12).*

In [9]:
old_animals = animal_table[animal_table.Alter>=5]

old_animals

                 Spezies Geschlecht  Alter  Steril  Beine  Gewicht  Wochen
Name
Felix              Katze  maennlich   16.0    True      4      9.2       5
Boo-boo             Hund  maennlich   11.0    True      4    123.0      24
Mr. Peanutbutter    Hund  maennlich   10.0   False      4    161.0       6
Kujo                Hund  maennlich    8.0   False      4    172.0      30
Gir                 Hund  maennlich    8.0   False      4     88.0       5
Bo                  Hund  maennlich    8.0    True      4     76.1      10
Sheba              Katze   weiblich    7.0    True      4      8.4       6
Miaulis            Katze  maennlich    7.0   False      4      8.8       4
Nibblet             Hase  maennlich    6.0   False      4      4.3       2
Daisy               Hund   weiblich    5.0    True      4     68.0       8
Sunflower          Katze   weiblich    5.0    True      4      8.1       6
Midnight            Hund   weiblich    5.0   False      4    112.0       4

In [ ]:
len(old_animals)  # Gibt die Anzahl Elemente von old_animals an.

2. Wie viele weibliche Tiere gibt es im Tierdatensatz?

#Hier kommt Ihre Antwort hin.

In [164]:
# Hier kommt Ihr Code hin.

3. Filtern Sie alle Tiere mit 4 Beinen heraus. Wie viele gibt es?

#Hier kommt Ihre Antwort hin.

In [166]:
# Hier kommt Ihr Code hin.

4. Zeichnen Sie ein Histogramm der Gewichte der männlichen Tiere und eines der weiblichen Tiere. Welche werden wohl älter?

#Hier kommt Ihre Antwort hin.

In [168]:
from charts import histogram
# Hier kommt Ihr Code hin.

5. Zeichnen Sie ein Kuchendiagramm der Speziesverteilung aller Tiere, welche mindestens 3 Jahre alt sind.

In [170]:
# Hier kommt Ihr Code hin, vergessen Sie nicht die Funktion pie_chart zu importieren.

## Spalten hinzufügen

**Einzelarbeit:**

1. Was macht das folgende Programm?

#Hier kommt Ihre Antwort hin.

In [ ]:
def is_old(animal):
    return animal.Alter >= 5

animal_table["Alt"] = animal_table.apply(is_old, axis =1)

animal_table

2. Was macht das folgende Programm?

#Hier kommt Ihre Antwort hin.

In [ ]:
def kilos(animal):
    return animal.Gewicht/2.2 #Hinweis. Die Spalte "Gewicht" ist in Pfund.

animal_table["Kilos"] = animal_table.apply(kilos, axis =1)

animal_table

3. Wie genau kann eine Spalte hinzugefügt werden?

#Hier kommt Ihre Antwort hin.

**Hinweis:** mit apply wird eine Funktion - zum Beispiel is_old in 1. - auf alle Zeilen oder Spalten der Tabelle angewendet. Da die Funktion auf alle Zeilen (und somit die Tiere) angewendet werden soll, muss axis = 1 verwendet werden. Sollte die Funktion auf alle Spalten angewendet werden, müsste axis = 0 verwendet werden.

## Abschlussquiz

Gegeben sind die beiden Funktionen is_dog und is_old und Tabelle mit 4 Zeilen table_new (siehe unten) . Führen sie zu Beginn beide Codeblöcke aus.

In [174]:
import pandas as pd 
datei_name = "animal_dataset_bc.csv"
animal_table = pd.read_csv(datei_name,
                        header=0,
                        names=["Name", "Spezies", "Geschlecht", "Alter", "Steril", "Beine", "Gewicht", "Wochen"], 
                        index_col=0)

In [175]:
def is_dog(animal):
    return animal.Spezies == "Hund"

def is_old(animal):
    return animal.Alter >= 5

animal1 = animal_table.iloc[14]
animal2 = animal_table.iloc[11]
animal3 = animal_table.iloc[4]
animal4 = animal_table.iloc[2]

table_new = pd.DataFrame([animal1, animal2, animal3, animal4]) # Macht eine Tabelle aus den drei Tieren.

table_new

        Spezies Geschlecht  Alter  Steril  Beine  Gewicht  Wochen
Rex        Hund  maennlich    1.0   False      4     28.9       9
Boo-boo    Hund  maennlich   11.0    True      4    123.0      24
Felix     Katze  maennlich   16.0    True      4      9.2       5
Mittens   Katze   weiblich    2.0    True      4      7.4       1

Beantworten Sie jeweils in Worten, was für eine Tabelle neu entsteht. Kontrollieren Sie erst danach, indem Sie den entsprechenden Code auführen.

1. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new = table_new.sort_values("Wochen",ascending=False)
table_new

2. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new = table_new.sort_values("Gewicht",ascending=True)
table_new

3. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new[table_new.Spezies=="Hund"]

4. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new[table_new.Gewicht<=28.9]

5. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
table_new["Hund"] = table_new.apply(is_dog, axis =1)

table_new

6. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new[table_new.Hund]

7. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new["Alt"] = table_new.apply(is_old, axis =1)

table_new

8. Was für eine Tabelle entsteht nach dem Ausführen des Codes?

#Hier kommt Ihre Antwort hin (führen Sie erst danach den Code aus).

In [ ]:
# Erst nach der Beantwortung der Frage ausführen.

table_new = table_new.sort_values(["Hund", "Alter"],ascending=True)
table_new

9. Was passiert, wenn beim Sortieren zwei Spalten angeben werden (zum Beispiel table_new.sort_values(["Hund", "Alter"],ascending=True))?

#Hier kommt Ihre Antwort hin.